@page "/coffeelist"
@inject ICoffeeService _coffeeService

<div class="row">
    <div class="col-sm-12">
        <h3>Coffee List</h3>
        <a class="btn btn-primary" href="coffeelist/new">Add Coffee</a>
        @*////////////////// Card //////////////////*@
        <div class="card">
            <div class="card-body">
                @*////////////////// Table //////////////////*@
                <CoffeeListTable Coffees="_coffees"></CoffeeListTable>
                @*////////////////// End Table //////////////////*@
            </div>
        </div>
        @*////////////////// End Card //////////////////*@
    </div>
</div>

@code {
    private List<Coffee> _coffees;

    protected override async Task OnInitializedAsync()
    {
        _coffees = new List<Coffee>();

        await GetData();
    }

    private async Task GetData()
    {
        try
        {
            _coffees = await _coffeeService.GetCoffeesEFTest();
        }
        catch (Exception ex)
        {
            throw ex;
        }
    }

    private void DeleteCoffee(int id)
    {
        try
        {
            _coffeeService.DeleteCoffee(id);
        }
        catch (Exception ex)
        {
            throw ex;
        }
    }
}
