@page "/coffeelist"
@inject ICoffeeService _coffeeService

<div class="row">
    <div class="col-sm-12">
        <h3>Coffee List</h3>
        <a class="btn btn-primary" href="coffeelist/new">Add Coffee</a>
        @*////////////////// Card //////////////////*@
        <div class="card">
            <div class="card-body">
                @*////////////////// Table //////////////////*@
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (_coffees.Count() > 0)
                        {
                            @foreach (var coffee in _coffees)
                            {
                                <tr>
                                    <th scope="row">@coffee.Id</th>
                                    <td>@coffee.Name</td>
                                    <td>
                                        <a class="btn btn-warning" href="coffeelist/@coffee.Id">Edit</a>
                                        <button class="btn btn-danger" @onclick="() => DeleteCoffee(coffee.Id)">Delete</button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                @*////////////////// End Table //////////////////*@
            </div>
        </div>
        @*////////////////// End Card //////////////////*@
    </div>
</div>

@code {
    private List<Coffee> _coffees;

    protected override void OnInitialized()
    {
        _coffees = _coffeeService.GetCoffees();
    }

    private void DeleteCoffee(int id)
    {
        try
        {
            _coffeeService.DeleteCoffee(id);
        }
        catch (Exception ex)
        {
            throw ex;
        }
    }
}
